html,
body {
	height: 100vh;
	width: 100vw;
}

/* CALENDAR SCREEN */
.calendar-screen {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.rbc-calendar {
	height: 100vh;
}

/* MODAL */
.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 0.2s ease-in-out;
	z-index: 999;
}

.modal-fondo {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background: white;
	border-radius: 5px;
	color: rgb(51, 51, 51);
	display: inline;
	max-height: 620px;
	max-width: 500px;
	outline: none;
	padding: 10px;
}

.fab {
	border-radius: 100%;
	bottom: 25px;
	font-size: 30px;
	padding: 25px;
	position: fixed;
	right: 25px;
	z-index: 10;
}

.fab-danger {
	bottom: 25px;
	font-size: 30px;
	padding: 20px;
	position: fixed;
	left: 25px;
	z-index: 10;
}

.form-control input {
	outline: none !important;
	border: none !important;
}

/* DAY PICKER */
button:hover,
button:focus {
	outline: none !important;
	border: black !important;
}

textarea:focus,
input:focus {
	outline: none !important;
	border: none !important;
}

.MuiPickersToolbar-toolbar {
	background-color: gray !important;
	color: black !important;
}

.MuiTabs-flexContainer {
	background-color: gray !important;
	color: white !important;
}

.MuiPickersDay-daySelected {
	background-color: gray !important;
	color: white !important;
}

.PrivateTabIndicator-colorSecondary-7 {
	background-color: black !important;
}

.MuiPickersYear-yearSelected,
.MuiButton-label {
	color: black !important;
}

.MuiPickersClock-pin,
.MuiPickersClockPointer-animateTransform,
.MuiPickersClockNumber-clockNumberSelected,
.MuiPickersClockPointer-pointer,
.MuiPickerDTTabs-tabs {
	background-color: gray !important;
}

.MuiPickersClockPointer-noPoint,
.MuiPickersClockPointer-thumb {
	border: 14px solid gray !important;
}
